body {
  margin: 0;
  background-color: rgb(150, 165, 114);
}

.main-container {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(221, 233, 192);
  color: white;
}
.main-left {
  display: flex;
  background: url(./Laje.jpg) no-repeat top center;
  background-size: cover;
  justify-content: center;
  align-items: center;
  width: 30vh;
}
.main-left div {
  width: 100%;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
}

.logo {
  max-width: 300px;
}
img.fire {
  height: 3rem;
}
.main-right {
  background-color: black;
  display: flex;
  flex-direction: column;
  flex: 2;
}
.header-description {
  padding: 0 20px 0 20px;
  text-align: center;
}
.form-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  color: white;
  background-color: black;
  box-shadow: rgba(250, 0, 217, 0.01) 0px 18px 80px -12px inset,
    rgba(250, 0, 217, 0.1) 0px 18px 36px -18px inset;
  border-radius: 25px;
}

fieldset {
  border-color: green;
  border-radius: 9px;

  box-shadow: 5px 2px 20px rgb(20, 166, 49, 0.7);
  border-width: 3px;

  flex: 1;
}
.main-form-inputs-container div {
  display: flex;
  flex-flow: column wrap;
  font-size: 0.7rem;
  text-transform: uppercase;
  color: rgb(20, 169, 20);
  gap: 20px;
}
.main-form-inputs-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.main-form-inputs-container input {
  width: 15rem;
  list-style-type: none;
}

.main-form-inputs-container input:focus {
  outline: none;
  transition: 0.7s;
  border: 2px solid rgb(246, 58, 171);
  border-radius: 5px;
  box-shadow: 5px 2px 20px rgb(20, 166, 49, 0.7);
}

.main-form-inputs-container div {
  display: flex;
}

.button-section {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.create-account-button {
  width: 14rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: rgb(250, 0, 217);
  border-color: rgb(250, 0, 217);
  background-color: black;
}

a {
  color: rgb(250, 0, 217);
  font-weight: bold;
}

.footer {
  bottom: 0;
  text-align: center;
  background-color: rgb(26, 38, 26);
  color: rgb(250, 0, 217);
  position: fixed;
  width: 100vw;
  font-size: smaller;
}

@media only screen and (max-width: 600px) {
  .main-left {
    width: 100vw;
    height: 15vh;
    background-size: 100vw;
    background-position: bottom center;
  }
  .main-container {
    flex-wrap: wrap;
  }
  .main-form-inputs-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main-form-inputs-container input {
    list-style-type: none;
  }
  .button-section {
    margin-bottom: 50px;
  }
}
