body {
  margin: 0;
}
.main-container {
  display: flex;
}
.main-left {
  background-color: black;
  color: white;
}
.main-left h1 {
  display: flex;
  justify-content: center;
  color:rgb(250, 0, 217);
}
.main-right {
  background-color: rgb(226, 223, 223);
}
fieldset {
  background-color: white;
}
.main-form-inputs-container {
  display: flex;
  justify-content: space-around;
}
.main-form-inputs-container input,
ul {
  width: 15rem;
  list-style-type: none;
}

.button-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.create-account-button {
  width: 14rem;
  height: 3rem;
}

a {
  color: rgb(250, 0, 217);
  font-weight: bold;
}
